@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');

:root {
    --font-family: 'Chakra Petch', sans-serif;
    --primary-color: #000000;
    --primary-text-color: #ffe600; 
    --secundary-text-color: #00d0ff;
    --terciary-text-color: #ff005d;
}

@keyframes cyber-glitch-2 
{
    0% {clip-path: var(--og-clip-path); transform: translateX(0); text-shadow: none;}
    2% {clip-path: polygon(0 40%, 0 100%, 100% 100%, 100% 40%); transform: translateX(0); text-shadow: var(--terciary-text-color) 3px 3px, var(--primary-text-color) -3px -3px;}
    4% {clip-path: polygon(0 40%, 0 100%, 100% 100%, 100% 40%); transform: translateX(-1rem); text-shadow: var(--terciary-text-color) 3px 3px, var(--primary-text-color) -3px -3px;}
    6% {clip-path: polygon(0 40%, 0 100%, 100% 100%, 100% 40%); transform: translateX(1rem); text-shadow: var(--terciary-text-color) 3px 3px, var(--primary-text-color) -3px -3px;}
    8% {clip-path: polygon(0 40%, 0 100%, 100% 100%, 100% 40%); transform: translateX(0); text-shadow: var(--terciary-text-color) 3px 3px, var(--primary-text-color) -3px -3px;}
    12% {clip-path: polygon(0 10%, 0 40%, 100% 40%, 100% 10%); transform: translateX(0); text-shadow: var(--terciary-text-color) 3px 3px, var(--primary-text-color) -3px -3px;}
    14% {clip-path: var(--og-clip-path); transform: translateX(0); text-shadow: none;}
    100% {clip-path: var(--og-clip-path); transform: translateX(0); text-shadow: none;}
}


body {
    animation: cyber-glitch-2 4s;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
    margin: 0;
    font-family: var(--font-family);
}

h1 {
    font-size: 5em;
}

h3 {
    font-size: 2.5em;
    margin-top: 20px;
}

.mensagem {
    font-size: 1.5em;
    margin-top: 40px;
    color: #ffffff;
}

.resultado {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;

}

.box {
    background-color: var(--primary-text-color);
    clip-path: polygon(100% 0, 100% calc(100% - 15px), calc(100% - 30px) 100%, 0 100%, 0 0);
    color: #000000;
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin-left: 10px;
}

i {
    color: var(--primary-text-color);
    font-weight: bold;
}

.btn-iniciar {
    text-decoration: none;
    font-weight: bold;
    background-color: var(--secundary-text-color);
    clip-path: polygon(100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%, 0 0);
    color: #000000;
    font-size: 0.5em;
    padding: 10px;
    margin-left: 10px;
}

.btn-reiniciar {
    border: solid var(--secundary-text-color);
    font-family: var(--font-family);
    font-weight: bold;
    background-color: var(--secundary-text-color);
    clip-path: polygon(100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%, 0 0);
    color: #000000;
    font-size: 1em;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.btn-iniciar:hover,
.btn-reiniciar:hover {
    background-color: #ffffff;
}

.game-over {
    font-size: 5em;
    color: var(--terciary-text-color);
}